!dummy
!.gitmodule
.DS_Store
.vagrant
/data/cache/*
/data/config/config.php
/data/download/temp/*
/data/downloads/tmp/*/*
/data/logs/*
/data/Smarty/template_c/*
/data/upload/csv/*/*
/html/install/temp/*
/html/upload/graph_image/*
/html/upload/mobile_image/*
/html/upload/save_image/*
/html/upload/temp_image/*
/html/upload/temp_plugin/*
/html/upload/temp_template/*
/phpunit.xml
/tests/tmp/*
